nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
  }
  
  nav li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav li:hover {
    text-decoration: underline;
  }
  
  nav input {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .nav ul li:hover {
    text-decoration: underline;
  }
  